<!DOCTYPE html>
<style>
h1 {font: 20pt Geneva;}
h2 {background: #ccc; height: 30px; font: 20pt Geneva; color: purple; text-decoration: none; top: 0px;}
.entry {font: 15pt Georgia; width: 900px; overflow: auto; white-space: pre-wrap; text-align: left;}
a {color: purple; font: 20pt Geneva; text-decoration: none;}
</style>
<html>

<title>{{blog.subject}}</title>

<body>
<h2><a href="/blog">Back to the Blog!</a></h2>
<div align="center">
    <h1>{{blog.subject}}</h1>
<br><br>

<pre class="entry">
    {{blog.content}}
</div>
</body>
</html>
